.container{
    display:flex;
    justify-content:space-evenly;
    width:1000px;
    height:400px;
    border:2px solid purple;
    margin:20px auto;
    padding:10px;
    
}
.flexitem1{
    width:80px;
    height:80px;
    background-color:blue;
}
.flexitem2{
    width:80px;
    height:80px;
    background-color:pink;
}
.flexitem3{
    width:80px;
    height:80px;
    background-color:lightseagreen;
}