.nav {
    height:80px;
    background-color:black;
    display:grid;
    grid-template-columns:30% 45% 20%;
}
.brand{
    background-color:light coral;
    display:flex;
    align-items:center;
    justify-content:center;
}
.brand h1{
    font-size:42px;
    color:white;
}
.brand h1:hover{
    font-size:50px ;
}
.categories{
    background-color:light blue;
    display:flex;
    align-items:center;
    justify-content:center;
}
.icons{
    background-color:light purple;
    display:flex;
    align-items:center;
    justify-content:center;
}
.categories a, .icons a{
    color:white;
    text-decoration:none;
    font-size: 18px;
    margin-right: 70px;

}
.categories a:hover, .icons a:hover{
    color:skyblue; 
    font-size:25px;
}
.icons a{
    color:white;
    text-decoration:none;
    margin-right: 17px;

}
.icons a i{
    font-size:25px;
}
.icons button{
    padding:7px 35px;
    border:none;
    background:none;
    color:white;
    border:2px solid red;
    font-size:15px;
    font-weight:bold;
}
.icons button:hover{
    background-color:red;
}