.pdcontainer{
    display:flex;
    height:440px;
    margin:40px auto;
    width:1000px;
    box-shadow: 0 0 10px green;
    padding:20px;
}
.leftPanel{
    width: 45%;
    height:400px;
    }
.rightPanel{
    width:70%;
    padding:10px;
}