.electronics {
    color:rebeccapurple;
}
#electronicsBanner {
    height:400px;
    width:1800px;
    margin:30px auto;
    box-shadow: 0 0 10px black;
    background-image: url("https://th.bing.com/th/id/OIP.Dew93Nk8R-ES_EARw2kA7wHaE7?rs=1&pid=ImgDetMain");
    background-position: center;
    background-size:100% 100%;
    background-repeat: no repeat;
}
.bgShadow {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;


    height:100%;
    background:linear-gradient(45deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7));
}
.bgShadow{
    color:white;
}
.bgShadow h1{
    font-size:42px;
    margin-bottom: 50px;
}
.temp{
    margin-top:50px;
    text-align:center;
    

}
.temp button{
    padding: 7px 20px;
    color:green;
    font-size:17px;
    font-weight:bold;
}
.productData{
    margin-top: 30px;
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    gap:20px;
}
.productData .card{
    width:300px;
    padding:20px;
    box-shadow:0 0 10px green;
    text-align:center;

}
.productData .card img,h3,p{
    margin-bottom:10px;

}
.productData .card button{
    margin-right:20px;
    padding:7px 18px;
    font-weight:bold;
}
.productData .card :nth-child(5){
   border:2px solid green;
   color:green;
}
.productData .card :nth-child(6){
    border:2px solid blue;
    color:blue;
 }