*{
    margin:0;
    color:white;
    font-family:cursive;
}
.nav{
    background-color:black;
    height:80px;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.brand h1{
    color: cornsilk;
}
.links a, .icons a{
    text-decoration:none;
    font-size:17px;
    margin-right:30px;
}
a:hover{
    color:blue;
}
.icons button{
    background:none;
    padding:7px 21px;
    border:1px solid red;
    border-radius:10px;
}
.icons button:hover{
    background-color:red;
    color:white;
}
button{
    color:red;
}
