*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#mainSection{
    width:100%;
    height:100vh;
    background:linear-gradient(45deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8),url(""));
    background-repeat: no-repeat;
    background-size:100%;
    background-position: center;
}
header{
    height:15%;
    background-color: aquamarine;
    display:flex;
    justify-content:space-between;
    align-items:center;

}

header img{
    position:relative;
    left:90px;
}
header div button{
    position:relative;
    right:90px;
}
#englishbtn{
    background:none;
    padding:9px 25px;
    border-radius: 5px;;
    color:white;
    border:1px solid white;
}
#signinbtn{
    background:none;
    background-color: red;
    color:white;
    padding:9px 25px;
    border-radius:9px;
    border:none;
}
main{
    height:80%;
    color:white;
    background-color:brown;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
main h1{
    font-size:42px;
    margin-bottom:15px;

}
main p{
    margin-bottom:24px;
}
    

