.container{
    width:1000px;
    height:400px;
    border:3px solid red;
    margin:10px auto;
    display:flex;
    justify-content:space-evenly;
    padding:10px;
}
.flexitem1{
    width:80px;
    height:80px;
    background-color:blue;
}
.flexitem2{
    width:80px;
    height:80px;
    background-color:aquamarine;
}
.flexitem3{
    width:80px;
    height:80px;
    background-color:purple;
}
.flexitem4{
    width:80px;
    height:80px;
    background-color:lightblue;
}