.usersContainer{
    margin-top: 30px;
    padding:10px;
}
.usersContainer button{
    padding:7px 20px;
    border-radius:5px;
    color:green;
    margin-top: 20px;
}
.usersContainer h1{
    margin-bottom: 20px;
    color:green;
}
.card{
    width:250px;
    height:370px;
    padding:10px;
    box-shadow:0 0 10px red;
    text-align:center;
}
.usersDataContainer{
    
    display:flex;
    margin-top: 50px;
    flex-wrap:wrap;
    justify-content:space-evenly;
    gap:20px;
}
.genderContainer{
    display:flex;
    width:800px;
    margin:30px auto;
    justify-content:space-evenly;
    
}