.mensfashion {
    margin-top: 30px;
    width:1840px;
    height:500px;
    /*border:2px solid red;*/

    display:grid;
    grid-template-columns:1180px 640px;
    grid-template-rows:240px 240px;
    gap:20px;
    /*align items to be added*/
    font-size: 17px;
    font-family:Arial, Helvetica, sans-serif;
    
}
.content1 {
    background-image: url("https://th.bing.com/th/id/OIP.EAx9V7O2_iqQtsqXwWF68gHaEJ?w=320&h=180&c=7&r=0&o=5&dpr=1.1&pid=1.7");
    background-size: 100%;
    background-position:top;
    grid-column: 1/2;
    grid-row:1/3;

    text-align: justify;
    color:white;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

}

.content2 {
    background-image: url("https://th.bing.com/th/id/OIP.d27A_IinX0vPNi8fBi-FSwHaEo?w=278&h=180&c=7&r=0&o=5&dpr=1.1&pid=1.7");
    background-size: 100%;
    background-position:top;
    grid-column: 2/3;
    grid-row:1/2; 
    
    text-align: justify;
    color:white;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.content3 {
    background-image: url("https://th.bing.com/th/id/OIP.4Z-AwRRRDf9miAptY_p_JgHaE7?w=257&h=180&c=7&r=0&o=5&dpr=1.1&pid=1.7");
    background-size: 100%;
    background-position:centter;
    grid-column: 2/3;
    grid-row:2/3; 
    
    text-align: justify;
    color:white;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.mensfashion .content1, .content2 , .content3 {
    padding:45px;
}

.mensfashion h1 {
    font-size:45px;
    font-family: Arial, Helvetica, sans-serif;
}